* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.header {
    padding: 1rem;
    margin: 2rem;
    background: #eaf5ff;
    box-shadow: 1px 1px 7px 0px #00000045;
    border-radius: 5px;
}
.form {
    margin: 1rem;
}

.form button, .form input  {
    padding: 1rem;
    margin: 1rem;
    border-radius: 5px;
    border: 0;
}
.form input {
    background-color: rgb(182, 236, 255);
}
.weather-report {
    padding: 0 2rem;
}
